[submodule "themes/github-style"]
	path = themes/github-style
	url = git@github.com:JoungSik/github-style.git
[submodule "public"]
	path = public
	url = git@github.com:JoungSik/JoungSik.github.io.git
